absl-py==0.10.0
argon2-cffi==20.1.0
asn1crypto==0.24.0
astor==0.8.1
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cloudpickle==1.6.0
cryptography==2.3
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
-e git+https://github.com/facebookresearch/detectron2.git@185c27e4b4d2d4c68b5627b3765420c6d7f5a659#egg=detectron2
efficientnet==1.1.1
entrypoints==0.3
ffmpeg-python==0.2.0
future==0.18.2
fvcore==0.1.2.post20200929
gast==0.2.2
google-pasta==0.2.0
GPUtil==1.4.0
graphsurgeon==0.4.1
grpcio==1.32.0
h5py==2.10.0
hikvisionapi==0.2.1
idna==2.6
imageio==2.9.0
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.2.0
llvmlite==0.34.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mock==4.0.2
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.1
networkx==2.5
notebook==6.1.4
numba==0.51.2
numexpr==2.7.1
numpy==1.18.5
opencv-python==4.4.0.44
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
portalocker==2.0.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
ptyprocess==0.6.0
pycocotools==2.0
pycparser==2.20
pycrypto==2.6.1
pydot==1.4.1
Pygments==2.7.4
pygobject==3.26.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.1
python-dotenv==0.14.0
python-vlc==3.0.11115
pytz==2020.1
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.0.1
seaborn==0.11.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simple-pid==0.2.4
six==1.11.0
tables==3.6.1
tabulate==0.8.7
tensorboard==1.15.0
tensorflow==1.15.4
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.4
tensorrt==7.0.0.11
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.3
torch==1.4.0
torchvision==0.5.0
tornado==6.0.4
tqdm==4.50.0
traitlets==4.3.3
uff==0.6.5
unattended-upgrades==0.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
yacs==0.1.8
zipp==3.2.0
